/* variables */
:root {
    --color-black: #000;
    --color-gray: #fffefe;
    --color1: #00000090;
    --color2: #ddd;
    --color3: #d5dee3;
    --color-orange: #ffa500;
}

/*  */
#header {
    /* background: url("../img/couverture_19920x1280.jpg") no-repeat center/cover; */
    z-index: 999;
    /* height: 600px; */
    height: 800px;
}

#header nav {
    background: var(--color-gray);
    position: fixed;
}
#header nav .nav-wrapper a {
    padding-left: 30px;
}
#header nav .nav-wrapper a img {
    width: 64px;
}
#header nav .nav-wrapper ul li a {
    color: var(--color-black);
}

#header nav .nav-wrapper .hide-on-med-and-down {
    padding-right: 60px;
}

/* presentation */
#header div.presentation {
    text-align: left;
    padding: 200px 0 0 160px;
}
#header div.presentation h1,
h4 {
    font-weight: bold;
}
#header div.presentation h1 {
    font-size: 40px;
}
#header div.presentation h4 {
    font-size: 26px;
    padding-bottom: 60px;
}
#header div.presentation p {
    font-size: 1.2em;
}

#header div.presentation p.btn-contacter {
    text-align: center;
    margin-top: 5em;
}
#header div.presentation p.btn-contacter a {
    border: 1px solid var(--color-orange);
    padding: 8px 18px;
    background: rgba(101, 101, 101, 0.2);
    text-decoration: none;
}
#header div.presentation p.btn-contacter a:hover {
    border: 1px solid var(--color-black);
    background: rgba(111, 111, 111, 0.5);
}

/* arrow */
div.arrow a {
    color: var(--color-orange);
}

/* BTN toogler */
#menuBar i {
    margin: 0.5em;
    color: var(--color2);
    font-size: 30px;
}

#nav {
    position: absolute;
    height: 0;
    width: auto;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}
.menuOpen {
    height: 150px !important;
}

/* ------------- MEDIA QUERIES -------------- */

@media screen and (max-width: 768px) {
    #header nav div.logo a img {
        margin-top: 90px;
    }
    div.social-content div.social {
        margin: 0;
    }
    div.social-content div.social a {
        display: block;
        font-size: 20px;
        padding: 0;
    }
    .menuOpen {
        height: 220px !important;
    }
}

@media screen and (max-width: 425px) {
    #header nav .navbarnav li {
        display: block;
        padding: 0.5em 0;
    }

    #header .before-navbar .contact p {
        display: block;
    }
}

@media screen and (max-width: 435px) {
    .menuOpen {
        height: 310px !important;
    }
}
