/* variables */
:root {
    --color-black: #000;
    --color-gray: #fffefe;
    --color1: #00000090;
    --color2: #ddd;
    --color3: #d5dee3;
    --color-orange: #ffa500;
}

/*  */
section.projets-section {
    overflow: hidden;
    background: #f1f1f1;
}
section.projets-section div.projets div:nth-child(1) {
    overflow: hidden;
}
section.projets-section div.projets a img:hover {
    transform: scale(1.5);
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 768px) {
    section.projets-section div.projets div a img {
        width: 400px;
    }
}

@media screen and (max-width: 425px) {
    section.projets-section div.projets div a img {
        width: 300px;
    }
}
